body{
  background-color: #639AAB;
  height: 500px;
  background-position: center center;
  position: relative;
}

.h1-h3{
  background-color: #CFCFCF;
  color: #639AAB;
}
.Welcome-text {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:20px;
  background-color: #639AAB;
  color: black;
text-align:center;
}
.Welcome-text p {
background-color: #639AAB;
}
.table-header{
  color: #639AAB;

}
.table{
  background-color: white;

}
#label1{
font-size: 12px;

}