{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<style>
    h1, h3 {
        background-color: black;
        color: #639AAB;
    }
</style>
<head>
    <meta charset="UTF-8">
    {% block title %}Information Management{% endblock %}
</head>
<body>
{% block content %}
    <div class="h1-h3">
        <h1>Patient management</h1>
        <h3>Current users:</h3>
    </div>
    <div style="overflow-x:auto; margin-top: -7px">
        <table class="table table-light table-sm" style="height:110px; width:100%; border-bottom: 1px solid #F89E19">
            <tr class="table-header">
                <th style="border:1px solid black">Username</th>
                <th style="border:1px solid black">Sex</th>
                <th style="border:1px solid black">Race</th>
                <th style="border:1px solid black">Age</th>
                <th style="border:1px solid black">Height</th>
                <th style="border:1px solid black">Current Weight (lbs)</th>
                <th style="border:1px solid black">Target Weight (%)</th>
                <th style="border:1px solid black">Waist Circumference</th>
                <th style="border:1px solid black">Neck Circumference</th>
                <th style="border:1px solid black">Body Fat Percentage</th>
                <th style="border:1px solid black">Steps</th>
                <th style="border:1px solid black">Role</th>

            </tr>
            {% if user %}
                {% set row = namespace(counter = 0) %}
                {% for user in user %}
                    {% set row.counter = row.counter + 1 %}
                    <tr>
                    <td style="color:black">{{ user[1] }}</td>
                    <td style="color:black">{{ user[5] }}</td>
                    <td style="color:black">{{ user[6] }}</td>
                    <td style="color:black">{{ user[7] }}</td>
                    <td style="color:black">{{ user[8] }}'{{ user[9] }}</td>
                    <td style="color:black">{{ user[10] }}</td>
                    <td style="color:black">{{ user[11] }}</td>
                    <td style="color:black">{{ user[12] }}</td>
                    <td style="color:black">{{ user[13] }}</td>
                    <td style="color:black">{{ user[14] }}</td>
                    <td style="color:black">{{ user[15] }}</td>

                    {% if user[16] == 1 %}
                        <td style="color:black">
                            Admin
                        </td>
                    {% else %}
                        <td style="color:black">
                            User
                        </td>
                    {% endif %}

                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td style="color:black">No users found!</td>
                </tr>
            {% endif %}

        </table>
    </div>
    <div class="d-flex justify-content-center">
        <button data-toggle="tooltip" data-placement="top" title="Print a copy of the income statement" type="button"
                style="display: block; border-color: #F89E19; margin: auto; padding: 10px; background-color: #F89E19; color: white; border-radius: 6px; width: 200px"
                onclick="alert('To save patient information, select Save as PDF from the Print dialog' ); window.print()">
            Save/Print Patient Information
        </button>
        <button data-toggle="tooltip" data-placement="top" title="Create a new user account" type="button"
                style="display: block; border-color: #F89E19; margin: auto; padding: 10px; background-color: #F89E19; color: white; border-radius: 6px; width: 150px"
                onclick="window.location.href='{{ url_for('auth.register') }}'">Create New Patient
        </button>
    </div>
{% endblock %}


</body>
</html>
